
body {
    background-color: skyblue;
}

#igottabeme {
    font-family: Arial, Helvetica, sans-serif;
}

.classy {
    margin-left: 10px;
}

div {
    margin-bottom: 50px;
}

span {
    width: 100px;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px; 
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    background-color: yellow;

}


span.a {display:inline;}
span.b {display:block;}
span.c {display:inline-block;}

#img1 {
    position:fixed;
    bottom: 0;
    right: 0;
    
  }
  
  #img2 {
    position:relative;
    left: 50px;
    bottom:150px;
  }
  
  #img3 {
    position: relative;
    right:250px;
    left:50px;
  }
  
  nav {
    position: sticky;
    top:0;
    background-color:green;
    opacity: 90;
    padding: 5px;
    font-size: 20px;
    z-index: 1;
    
  }
  
  

